.App {
  text-align: center;
}

html{	
  background-color: #AD0404;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1, h2{
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-align: center;
  text-decoration: underline;
  
}
h1{
  color: #298A08;
  -webkit-text-stroke: 0.5px black;
  font-size: 50px;
}
p{
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 30px;
  text-align: center;
}
li{
  list-style-type: none;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 30px;
  text-align: left;
}

section{
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  border: black solid 3px;
  border-radius: 20px;
}
.perenoel{
	width: 15%
}