.App {
  text-align: center;
}

html{	
  background-color: #AD0404;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1, h2{
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-align: left;
  text-decoration: underline;
}
h1{
	color: #04C331;
}
p{
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 30px;
  text-align: left;
}
li{
  list-style-type: none;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 30px;
  text-align: left;
}

.perenoel{
	width: 20%
}